<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Number Plate Watchlist</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>Number Plate Watchlist</h1>
      <nav>
        <ul>
          <li><a href="/watchlists">Watchlists</a></li>
          {{#if user}}
          <li><a href="/tokens">Tokens</a></li>
          <li><a href="/logout">Logout</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <main>
      {{{content}}}
    </main>

    <footer>
      <p>&copy; Your Name 2022</p>
    </footer>
  </body>
</html>
