{{#layout}}
  {{#if watchlists.length}}
  <h2>Watchlists</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Numberplates</th>
      </tr>
    </thead>
    <tbody>
      {{#each watchlists}}
      <tr>
        <td><a href="/watchlists/{{id}}">{{name}}</a></td>
        <td>{{numberplateCount}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>No watchlists found</p>
  {{/if}}

  <h2>Create New Watchlist</h2>
  <form method="post" action="/watchlists">
    <label>
      Name:
      <input type="text" name="name" required>
    </label>
    <button type="submit">Create</button>
  </form>
{{/layout}}
